@font-face {
    font-family: 'Joffrey';
    src: url("../fonts/Joffrey.ttf");
}
@font-face {
    font-family: 'Mono';
    src: url("../fonts/Mono.ttf");
}
@font-face {
    font-family: 'Varela';
    src: url("../fonts/Varela.ttf");
}
