@import "fonts.css";
#guide {
  display: inline-block;
}
#guide .card-content {
  max-width: calc(100% - 1em);
  /*.gallery img{
      border-radius: @margin;
      cursor: pointer;
      margin: @margin 0;
      max-height: 120px;
      transition: all .5s;
      &:hover{
        filter: opacity(50%);
      }
    }
    p{
      text-align: justify;
    }*/
}
#guide .card-content div img {
  background: #343a40;
  max-height: 120px;
}
#guide .card-content div #white {
  float: left;
}
#guide .card-content div #black {
  float: right;
}
#guide .card-content div hr {
  border-color: #f8f9fa;
}
#guide .card-content iframe {
  border-radius: 0.5rem;
  height: 188px;
  width: 100%;
}
