@import "fonts.css";
header {
  display: inline-block;
  position: relative;
  width: 100%;
}
header section {
  align-items: center;
  background: url("../img/Header.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 420px;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
}
header section h3 {
  font-size: 5em;
}
header section p {
  text-align: center;
}
header section a {
  text-transform: uppercase;
  width: 180px;
}
header section a span {
  display: block;
  font-weight: bold;
  text-transform: capitalize;
}
header section a:last-child {
  text-transform: none;
}
header section .header {
  color: ghostwhite;
  font-family: 'Varela', 'Comic Sans MS', cursive;
  text-shadow: 1px 1px 2px #696969;
}
