@import "fonts.css";
#media img {
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}
#media #show-slide {
  margin: 1rem 0;
  max-width: 600px;
}
#media hr {
  width: 80%;
}
#media #slick {
  margin: auto;
  width: 80%;
}
#media #slick img {
  cursor: pointer;
  max-height: 200px;
  transition: .5s;
}
#media #slick img:hover {
  filter: opacity(50%);
}
#media .slick-slide {
  padding: 0.5rem;
}
