@media screen and (max-width: 767px) {
  body .article h4 {
    font-size: 2.5em;
  }
  body .article p {
    font-size: 1.25em;
  }
  body #objectives .card-content,
  body #about .card-content {
    max-width: calc(100% - 1em);
  }
  body #media img {
    display: none;
  }
  body #media #slick {
    margin-bottom: 32px;
  }
  body #media #slick img {
    max-height: 480px;
  }
}
