@media screen and (min-width: 768px) {
  nav {
    height: 80px !important;
  }
}
@media screen and (max-width: 767px) {
  nav {
    display: block;
  }
  nav menu {
    flex-direction: column;
    margin: 0 10px;
  }
  nav menu .items {
    font-size: 1.5em;
  }
  nav .fa-bars {
    display: block;
  }
  section h3 {
    font-size: 3em;
  }
  section p {
    font-size: 0.75em;
  }
  section a {
    font-size: 0.75em !important;
    width: 150px;
  }
}
