@import "fonts.css";
@color-dark: #343a40;
@color-light: #f8f9fa;
@margin: .5rem;

#media{
  img{
    border-radius: @margin;
    cursor: pointer;
    height: 177px;
    transition: .5s;
    &:hover{
      filter: opacity(50%);
    }
  }
}